    <div class="credits text-center">
        <p>
            <a href="http://techeverywhere.com">MEAN Stack Demo | techeverywhere.com</a>
        </p>
        <p>
            Divyesh Dhokiya
        </p>
    </div>
</body>
</html>