    <div class="credits text-center">
        <p>
            <a href="#">MEAN Stack Demo | Divyesh Dhokiya</a>
        </p>
        <p>
            <a href="http://techeverywhere.com">techeverywhere.com</a>
        </p>
    </div>
</body>
</html>